<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="true"
  [showXAxisLabel]="false"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="portifolio"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >


</ngx-charts-line-chart>


<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="true"
  [showXAxisLabel]="false"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [autoScale]="true"
  [results]="returns"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >


</ngx-charts-line-chart>